name: Trigger auto deployment for mixpanel-proxy

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ master ]
    paths:
    - '**'
    - '.github/workflows/mixpanel-proxy-AutoDeployTrigger-c744f72a-04de-4834-b58d-01435200fa82.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.MIXPANELPROXY_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.MIXPANELPROXY_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.MIXPANELPROXY_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: 
          registryUsername: ${{ secrets.MIXPANELPROXY_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.MIXPANELPROXY_REGISTRY_PASSWORD }}
          containerAppName: mixpanel-proxy
          resourceGroup: mixpanel
          imageToBuild: default/[parameters('containerAppName')]:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


